---
import Layout from '../layouts/Layout.astro'
import { listPlaces } from '../../utils/airtable'
import Map from '../components/statistics/Map'
import type { Place } from '../components/common/Types'
import PieChart from '../components/statistics/PieChart'
import { ChartDataBy, chartData, GroupChartDataByYear } from '../components/statistics/ChartData'
import Visited from '../components/statistics/Visited.astro'

const places: Place[] = await listPlaces()
const countOfStars: number = sum(places.map(r => r.fields.Stars))
const countOfVisitedRestaurants: number = places.length
const totalSpentPerPerson: number = sum(places.map(r => (r.fields.Price + r.fields.PriceWinePairing)))

const dataByCountry: chartData[] = ChartDataBy({places: places, fieldKey: 'Country'})
const dataByGoogleRating: chartData[] = ChartDataBy({places: places, fieldKey: 'GoogleRating'})
const dataByYear: chartData[] = ChartDataBy({places: places, elementsArray: places.map(r => r.fields.Date.split('-')[0])})
const dataStarsByYear: chartData[] = GroupChartDataByYear(places)


function sum(arr: number[]): number {
  return arr.reduce((a: number, b: number) => a + b, 0)
}
---
<Layout title="Some statistics on our foodie journeys"
  description="Statistics on our - through our foodie journeys.">
	<main>
		<h1 class="text-center text-4xl sm:text-6xl mt-10 xl:mt-20 px-10">Some statistics on our foodie journeys</h1>
    <div>
      <div class="row divide-y-2 divide-red-accent-300 sm:pt-10">
        <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-10">
          <div class="grid grid-cols-1 row-gap-8 md:grid-cols-4 md:divide-x-2 divide-red-accent-300">
            <div class="text-center px-3 mb-5 md:mb-0">
              <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl mb-1 md:mb-5">{countOfStars}</h6>
              <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
                Total stars
              </p>
            </div>
            <div class="text-center px-3 mb-5 md:mb-0">
              <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl mb-1 md:mb-5">{totalSpentPerPerson}</h6>
              <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
                Spent per person in €
              </p>
            </div>
            <div class="text-center px-3 mb-5 md:mb-0">
              <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl mb-1 md:mb-5">{totalSpentPerPerson * 2}</h6>
              <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
                Spent for both in €
              </p>
            </div>
            <div class="text-center px-3 mb-5 md:mb-0">
              <h6 class="text-4xl font-bold lg:text-5xl xl:text-6xl mb-1 md:mb-5">{countOfVisitedRestaurants}</h6>
              <p class="text-sm font-medium tracking-widest text-gray-800 uppercase lg:text-base">
                Restaurants visited
              </p>
            </div>
          </div>
        </div>
        <div class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl py-10 md:px-24 lg:px-8 lg:py-10">
          <Map places={places} client:visible/>
        </div>
        <div class="px-4 py-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-0 lg:px-8 lg:py-10 grid grid-cols-1 row-gap-8 md:grid-cols-2">
          <div class="text-center">
            <h2>Restaurants by country</h2>
            <PieChart data={dataByCountry}/>
          </div>
          <div class="text-center">
            <h2>Restaurants by year</h2>
            <PieChart data={dataByYear}/>
          </div>
          <div class="text-center md:mt-10">
            <h2>Michelin stars by year</h2>
            <PieChart data={dataStarsByYear}/>
          </div>
          <div class="text-center md:mt-10">
            <h2>Restaurants by Google rating</h2>
            <PieChart data={dataByGoogleRating}/>
          </div>
        </div>
        <div class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl">
          <h2 class="text-center py-10 md:py-0 md:mt-10 font-bold text-4xl">Progress by country</h2>
          <div class="mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-0 lg:px-8 lg:py-10 grid grid-cols-1 row-gap-8 md:grid-cols-4">
            <Visited places={places}/>
          </div>
        </div>
      </div>
      <div class="flex flex-col px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-10 mb-6">
        <a href="/" class="inline-flex items-center self-center text-center h-12 px-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-md bg-deep-purple-accent-400 hover:bg-deep-purple-accent-700 focus:shadow-outline focus:outline-none">
          Back to the main page
        </a>
      </div>
    </div>
	</main>
</Layout>
