---
import { Image } from "astro:assets"
import googleIcon from "../images/google.svg"
import calendarIcon from "../images/calendar.svg"
import placeIcon from "../images/place.svg"
import euroIcon from "../images/euro.svg"
import anchorIcon from "../images/anchor.svg"
import { Swiper } from "../components/Swiper"
import Valuation from "../components/Valuation.astro"
import type { Fields } from "../components/common/Types"
import slug from "slug"
import { starsToIcon } from "../components/common/Helpers"

export interface Props {
  place: Fields
}

const { place } = Astro.props
---

<div
  class="px-4 py-8 lg:mx-20 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="grid gap-5 row-gap-8 lg:grid-cols-2">
    <div class="flex flex-col justify-top">
      <div class="max-w-xl mb-3">
        <div
          class="max-w-lg mb-2 sm:mb-4 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
        >
          <span id={slug(place.Name)} class="container">
            {place.Name}
            <a aria-label={place.Name} href={"#" + slug(place.Name)}>
              <span class="anchor-link">
                <Image
                  src={anchorIcon}
                  class="w-7 h-7 pb-1 astro-icon"
                  alt="Anchor icon"
                />
              </span>
            </a>
          </span>
        </div>
        <img
          src={starsToIcon(place.Stars)}
          alt="Restaurant Michelin stars"
          class="inline object-center h-8 mb-3"
        />
        <p class="text-base text-gray-700 md:text-lg">
          {place.Headline}
        </p>
      </div>
      <div class="grid sm:gap-2 grid-cols-2 sm:space-y-0 mb-3">
        <div>
          <strong>Food</strong>
          <Valuation stars={place.Food} />
        </div>
        {
          place.WinePairing ? (
            <>
              <div>
                <strong>Wine pairing</strong>
                <Valuation stars={place.WinePairing} />
              </div>
            </>
          ) : null
        }
      </div>
      <div
        class="grid sm:gap-2 sm:grid-cols-1 sm:space-y-0 border-l-4 border-red-accent-300"
      >
        <ul class="space-y-3">
          <li class="flex ml-2">
            <Image src={calendarIcon} class="w-6 h-6" alt="Calendar icon" />
            <div class="ml-2">
              {place.Date}
            </div>
          </li>
          <li class="flex ml-2">
            <Image src={placeIcon} class="w-6 h-6" alt="Place icon" />
            <div class="ml-2">
              {place.Location}, {place.Country}
            </div>
          </li>
          <li class="flex ml-2">
            <Image src={euroIcon} class="w-6 h-6" alt="Euro icon" />
            <div class="ml-2">
              {place.Price + place.PriceWinePairing}
              {
                place.PriceWinePairing ? (
                  <>
                    ({place.Price}{" "}
                    {place.PriceWinePairing > 0
                      ? [" Menu + ", place.PriceWinePairing, " Wine pairing"]
                      : null}
                    )
                  </>
                ) : null
              } per person
            </div>
          </li>
          <li class="flex ml-2">
            <Image src={anchorIcon} class="w-6 h-6" alt="Anchor icon" />
            <div class="ml-2">
              <a
                href={place.URL}
                class="inline-flex items-center font-regular transition-colors duration-200"
                >Website</a
              >
            </div>
          </li>
          <li class="flex ml-2">
            <Image src={googleIcon} class="w-6 h-6" alt="Google icon" />
            <div class="ml-2">
              {Number(place.GoogleRating).toFixed(1)}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <Swiper images={place.Images} restaurantId={place.Id} client:visible />
    </div>
  </div>
</div>

<style lang="css">
  .anchor-link {
    visibility: hidden;
  }

  .astro-icon {
    display: inline;
    vertical-align: middle;
  }

  .container:focus .anchor-link,
  .container:hover .anchor-link {
    visibility: visible;
  }
</style>
